extends layout

block content
    section.about-us
      h1 About Us
      p We are dedicated to delivering exceptional dining experiences. Our team of passionate chefs creates dishes that reflect a harmonious blend of flavors and textures.
      p Flavorscape Kitchen is more than just a restaurant; it's a culinary journey. Our passion for creating exquisite dishes using the freshest ingredients drives everything we do.
      p Our dedicated team of chefs, led by Chef Kali and chef Shiv, brings years of experience and creativity to the kitchen. We take pride in crafting unique and memorable dining experiences for our guests.
      p With a focus on quality and innovation, we constantly explore new flavors and techniques, ensuring that every dish is a work of art. We believe that food should not only satisfy your hunger but also awaken your senses.
      p Beyond our commitment to culinary excellence, we also value community and sustainability. We source our ingredients locally whenever possible, supporting local farmers and producers.
      p We invite you to join us on this gastronomic journey. Whether you're a connoisseur of fine dining or simply seeking a delightful meal, Flavorscape Kitchen welcomes you to indulge in the magic of flavors.
      a.btn-reserve(href="/reserve") Reserve a Table
