//- extends layout

//- block content
//-   .container-fluid
//-     .row
//-       .col-xs-12
//-         section.hero
//-           h1 Welcome to Flavorscape Kitchen
//-           p We bring you the finest culinary experience with a blend of flavors that will delight your taste buds.
//-           img.hero-image(src="/images/restaurant.jpeg", alt="Ambience",style="width:90%;height:auto;")
//-         section.special-features
//-           .row
//-             .col-xs-12.col-sm-6
//-               .promotion
//-                 h2 Special Promotions
//-                 p Limited-time offers and happy hour deals.
//-                 ul
//-                   li 20% off on appetizers
//-                   img(src="images/appetizer.jpeg", alt="appetizer")
//-                   li Buy one, get one free cocktails
//-                   img(src="images/cocktail.jpeg", alt="cocktail")
//-                   li Chef's special tasting menu
//-                   img(src="images/chef.jpeg", alt="chef")
//-             .col-xs-12.col-sm-6
//-               .events
//-                 h2 Upcoming Events
//-                 p Live music nights and themed evenings.
//-                 ul
//-                   li Live Jazz Night every Friday
//-                   img(src="images/jazz.jpeg", alt="jazz")
//-                   li Wine Tasting Tuesday
//-                   img(src="images/wine.jpeg", alt="wine")
//-                   li 80's fever night Wednesday
//-                   img(src="images/eighty.jpeg", alt="eighty")
//-         section.about-us
//-           h2 About Us
//-           p We are a restaurant dedicated to serving the finest cuisine with a focus on quality and freshness.
//-           a.learn-more(href="/aboutus") Learn More
//-         section.featured-dishes
//-           h2 Featured Dishes
//-           .row
//-             .col-xs-12.col-sm-6
//-               .dish
//-                 img(src="images/biryani.webp", alt="Featured Dish 1", style="width: 100%; height: auto;")
//-                 h3 Chicken Biryani
//-                 p A flavorful and aromatic South Asian dish featuring tender chicken pieces and fragrant basmati rice, intricately spiced and layered to create a harmonious blend of taste and texture.
//-             .col-xs-12.col-sm-6
//-               .dish
//-                 img(src="images/ramen.jpeg", alt="Featured Dish 2")
//-                 h3 Ramen
//-                 p A beloved Japanese noodle dish characterized by its rich broth, firm wheat noodles, and an array of toppings, offering a comforting and diverse culinary experience.
//-         section.testimonials
//-           h2 What Our Customers Say
//-           .row
//-             .col-xs-12
//-               .testimonial
//-                 blockquote
//-                   p "Delicious food and excellent service! This is my favorite restaurant."
//-                 p -Hero
//-         section.reservation-cta
//-           h2 Reserve a Table
//-           p Book a table now to experience our culinary delights firsthand.
//-           a.btn-reserve(href="/reserve") Reserve Now
//-         section.contact
//-           .row
//-             .col-xs-12.col-sm-6
//-               h2 Get in Touch
//-               p For reservations or inquiries, feel free to contact us.
//-               p Phone: +987654321
//-               p Email: flavorscape@restaurant.com
//-               a.btn-contact(href="/contact") Contact Us
//-           .col-xs-12.col-sm-6.fill-right
//-             // Add content for the right side
        
center
  img(src="images/qrcode.jpeg" style="margin-top: 300px;")