extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Flavorscape Menu
          small &nbsp;Explore our exquisite menu and savor the taste of perfection.Find some amazing dishes to devour of your choice.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/nonveg') Nonveg
            small &nbsp;
              span.glyphicon-menu-hamburger
          p
            span.label.label-warning may contain msg
            | &nbsp;
            span.label.label-warning some dishes contain raw meet
            | &nbsp;
            span.label.label-warning your choice of seasoning
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/veg') Veg
            small &nbsp;
              span.glyphicon-menu-hamburger
              
          p
            span.label.label-warning may contain msg
            | &nbsp;
            span.label.label-warning your choice of seasoning
            | &nbsp;
            span.label.label-warning vegan options
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/desert') Desert
            small &nbsp;
              span.glyphicon-ice-lolly-tasted
              
          p
            span.label.label-warning contains milk
            | &nbsp;
            span.label.label-warning may contain egg
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Welcome to our culinary paradise, where flavors come alive and delight your senses. Our menu features a diverse range of dishes, each designed to cater to your taste preferences. Whether you're a fan of hearty non-vegetarian fare, a devoted vegetarian, or have a sweet tooth that craves heavenly desserts, our menu has something exceptional to offer.