extends layout

block content
  section.reservation
    h1 Reserve a Table
    p To make a reservation, please provide the following details. Our team will get back to you to confirm your reservation.
    form(action="/rese", method="POST")
      div.form-group
        label(for="name") Name:
        input#name.form-control(type="text", name="name", required)
      div.form-group
        label(for="email") Email:
        input#email.form-control(type="email", name="email", required)
      div.form-group
        label(for="phone") Phone:
        input#phone.form-control(type="tel", name="phone", required)
      div.form-group
        label(for="date") Date:
        input#date.form-control(type="date", name="date", required)
      div.form-group
        label(for="time") Time:
        input#time.form-control(type="time", name="time", required)
      div.form-group
        label(for="guests") Number of Guests:
        input#guests.form-control(type="number", name="guests", required)
      button.btn.btn-primary(type="submit") Reserve Table
